# Introdução a Jupyter 

### Como funciona um Projeto de Análise de Dados?

Os projetos de Análise de Dados é a resolução de problemas complexos e atuação providencial do time de Dados e negócios.

### Desafio

- Empresa Vende Bermudas
- 5 Lojas
- Está querendo aumentar as vendas
- O que fazer?
- Informações Disponíveis: Base de Vendas

### Exibir os 10 primeiros valores da base de dados:

In [31]:
import pandas as pd
import numpy as np

Vendas = pd.read_excel("Vendas.xlsx")
Vendas.head(10)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155
2,2019-12-01,Norte Shopping,Bermuda,2,150,300
3,2019-12-01,Iguatemi Campinas,Bermuda Listrado,3,163,489
4,2019-12-01,Iguatemi Campinas,Bermuda Linho,3,195,585
5,2019-12-03,Iguatemi Campinas,Bermuda Xadrez,1,155,155
6,2019-12-03,Bourbon Shopping SP,Bermuda Listrado,1,163,163
7,2019-12-03,Bourbon Shopping SP,Bermuda Xadrez,3,155,465
8,2019-12-03,Bourbon Shopping SP,Bermuda Estampa,1,169,169
9,2019-12-04,Center Shopping Uberlândia,Bermuda Xadrez,4,155,620

### Panorama geral:

In [32]:
faturamento_total = Vendas["Valor Final"].sum()
print(faturamento_total)

55895

###  Começar análise Top -> Down:

In [33]:
# faturamento por loja
faturamento_por_loja = Vendas[["ID Loja", "Valor Final"]].groupby("ID Loja").sum()
display(faturamento_por_loja.sort_values('Valor Final', ascending=False))

                            Valor Final
ID Loja
Iguatemi Campinas                 41720
Bourbon Shopping SP                4386
Norte Shopping                     4322
Center Shopping Uberlândia         2994
Iguatemi Esplanada                 2473

###  Detalhamento por produto:

In [34]:
faturamento_por_produto = Vendas[["ID Loja","Produto", "Valor Final"]].groupby(["ID Loja", "Produto"]).sum() 

display(faturamento_por_produto)

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085

In [35]:
faturamento_por_produto.sort_values('Valor Final', ascending=False)

                                             Valor Final
ID Loja                    Produto
Iguatemi Campinas          Bermuda Liso            36581
Bourbon Shopping SP        Bermuda Listrado         1793
Center Shopping Uberlândia Bermuda Xadrez           1550
Iguatemi Esplanada         Bermuda Linho            1365
Norte Shopping             Bermuda                  1350
Iguatemi Campinas          Bermuda Listrado         1304
                           Bermuda                  1200
Bourbon Shopping SP        Bermuda Estampa          1183
Iguatemi Campinas          Bermuda Linho            1170
Norte Shopping             Bermuda Xadrez           1085
Iguatemi Campinas          Bermuda Estampa           845
Norte Shopping             Bermuda Estampa           845
Center Shopping Uberlândia Bermuda Linho             780
Bourbon Shopping SP        Bermuda                   750
Norte Shopping             Bermuda Listrado          652
Iguatemi Campinas          Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda Xadrez            620
Bourbon Shopping SP        Bermuda Xadrez            465
Norte Shopping             Bermuda Linho             390
Center Shopping Uberlândia Bermuda Estampa           338
Iguatemi Esplanada         Bermuda Estampa           338
Center Shopping Uberlândia Bermuda Listrado          326
Bourbon Shopping SP        Bermuda Linho             195
Iguatemi Esplanada         Bermuda                   150

### Cálculo de comissão obtida por produto no dia:

In [43]:
verificar_comissao_total = Vendas[["Produto","Valor Final", "Data"]].groupby(["Produto", "Data"]).sum()* 0.25
 
verificar_comissao_total

                             Valor Final
Produto          Data
Bermuda          2019-12-01        75.00
                 2019-12-04       187.50
                 2019-12-05       150.00
                 2019-12-07       112.50
                 2019-12-17        75.00
                 2019-12-19        37.50
                 2019-12-21       150.00
                 2019-12-23        75.00
Bermuda Estampa  2019-12-01        42.25
                 2019-12-03        42.25
                 2019-12-04        84.50
                 2019-12-06        42.25
                 2019-12-08       169.00
                 2019-12-18        42.25
                 2019-12-19        84.50
                 2019-12-21       211.25
                 2019-12-26       169.00
Bermuda Linho    2019-12-01       146.25
                 2019-12-08       195.00
                 2019-12-12        48.75
                 2019-12-14        48.75
                 2019-12-15       146.25
                 2019-12-20        48.75
                 2019-12-21       243.75
                 2019-12-23        97.50
Bermuda Liso     2019-12-05      2158.75
                 2019-12-24      3061.50
                 2019-12-25      3925.00
Bermuda Listrado 2019-12-01       122.25
                 2019-12-03        40.75
                 2019-12-05        40.75
                 2019-12-10        40.75
                 2019-12-15        81.50
                 2019-12-16       122.25
                 2019-12-17       285.25
                 2019-12-18       122.25
                 2019-12-19        40.75
                 2019-12-20        81.50
                 2019-12-22        40.75
Bermuda Xadrez   2019-12-01        38.75
                 2019-12-03       155.00
                 2019-12-04       155.00
                 2019-12-07        38.75
                 2019-12-09       116.25
                 2019-12-11       116.25
                 2019-12-15        38.75
                 2019-12-17        38.75
                 2019-12-22        38.75
                 2019-12-24       348.75

### Identificando Produto Campeão:

In [44]:
verificar_comissao_total['Produto Campeao'] = np.where(verificar_comissao_total['Valor Final']>130 , 'Sim', 'Nao')
verificar_comissao_total

                             Valor Final Produto Campeao
Produto          Data
Bermuda          2019-12-01        75.00             Nao
                 2019-12-04       187.50             Sim
                 2019-12-05       150.00             Sim
                 2019-12-07       112.50             Nao
                 2019-12-17        75.00             Nao
                 2019-12-19        37.50             Nao
                 2019-12-21       150.00             Sim
                 2019-12-23        75.00             Nao
Bermuda Estampa  2019-12-01        42.25             Nao
                 2019-12-03        42.25             Nao
                 2019-12-04        84.50             Nao
                 2019-12-06        42.25             Nao
                 2019-12-08       169.00             Sim
                 2019-12-18        42.25             Nao
                 2019-12-19        84.50             Nao
                 2019-12-21       211.25             Sim
                 2019-12-26       169.00             Sim
Bermuda Linho    2019-12-01       146.25             Sim
                 2019-12-08       195.00             Sim
                 2019-12-12        48.75             Nao
                 2019-12-14        48.75             Nao
                 2019-12-15       146.25             Sim
                 2019-12-20        48.75             Nao
                 2019-12-21       243.75             Sim
                 2019-12-23        97.50             Nao
Bermuda Liso     2019-12-05      2158.75             Sim
                 2019-12-24      3061.50             Sim
                 2019-12-25      3925.00             Sim
Bermuda Listrado 2019-12-01       122.25             Nao
                 2019-12-03        40.75             Nao
                 2019-12-05        40.75             Nao
                 2019-12-10        40.75             Nao
                 2019-12-15        81.50             Nao
                 2019-12-16       122.25             Nao
                 2019-12-17       285.25             Sim
                 2019-12-18       122.25             Nao
                 2019-12-19        40.75             Nao
                 2019-12-20        81.50             Nao
                 2019-12-22        40.75             Nao
Bermuda Xadrez   2019-12-01        38.75             Nao
                 2019-12-03       155.00             Sim
                 2019-12-04       155.00             Sim
                 2019-12-07        38.75             Nao
                 2019-12-09       116.25             Nao
                 2019-12-11       116.25             Nao
                 2019-12-15        38.75             Nao
                 2019-12-17        38.75             Nao
                 2019-12-22        38.75             Nao
                 2019-12-24       348.75             Sim

In [45]:
verificar_comissao_total['Produto Campeao'].value_counts()

Nao    32
Sim    17
Name: Produto Campeao, dtype: int64

In [47]:
verificar_comissao_total['Produto Campeao'].value_counts(normalize=True)

Nao    0.653061
Sim    0.346939
Name: Produto Campeao, dtype: float64

In [48]:
#Identificando os Campeões por dia de venda
campeaoVendas = verificar_comissao_total.loc[verificar_comissao_total['Produto Campeao'] == 'Sim']
campeaoVendas.head(5)

                            Valor Final Produto Campeao
Produto         Data
Bermuda         2019-12-04       187.50             Sim
                2019-12-05       150.00             Sim
                2019-12-21       150.00             Sim
Bermuda Estampa 2019-12-08       169.00             Sim
                2019-12-21       211.25             Sim

### Comissão obtida por Loja

In [49]:
verificar_comissao_loja = Vendas[["ID Loja","Valor Final"]].groupby(["ID Loja"]).sum() 


display(verificar_comissao_loja)

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

### Adicionando métrica de comissão

In [53]:
verificar_comissao_loja['Comissao'] = np.where(verificar_comissao_loja['Valor Final']>10000 , 13, 25)
verificar_comissao_loja.sort_values('Valor Final', ascending=True)

                            Valor Final  Comissao
ID Loja
Iguatemi Esplanada                 2473        25
Center Shopping Uberlândia         2994        25
Norte Shopping                     4322        25
Bourbon Shopping SP                4386        25
Iguatemi Campinas                 41720        13

In [54]:
calculaComissao = verificar_comissao_loja['Comissao']* verificar_comissao_loja['Valor Final'] / 100

calculaComissao

ID Loja
Bourbon Shopping SP           1096.50
Center Shopping Uberlândia     748.50
Iguatemi Campinas             5423.60
Iguatemi Esplanada             618.25
Norte Shopping                1080.50
dtype: float64

In [52]:
Vendas.describe()

       Quantidade  Valor Unitário   Valor Final
count   57.000000       57.000000     57.000000
mean     6.140351      164.210526    980.614035
std     17.577826       14.011139   2757.203926
min      1.000000      150.000000    150.000000
25%      1.000000      155.000000    163.000000
50%      2.000000      163.000000    310.000000
75%      4.000000      169.000000    600.000000
max    100.000000      195.000000  15700.000000

### Considerações

In [56]:
## Após a presente análise nos cenários apresentados, apresento as seguintes ponderações:

## Iguatemi Campinas foi a empresa com mais vendas e aparentemente um potencial maior de vendas, por isso investiria numa 
## comissão que seria proporcional ao volume de vendas.

## Olhando para os produtos campeões de vendas, investiria numa compra proporcional para equalizar saída x disponibilidade
## dos produtos com mais saída.